*{
  font-family: 'Noto Sans KR', sans-serif;
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container{
  width: 100%;
  height: 100vh;
  background-size: auto;
}

.intro_bg{
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/car.jpg");
  background-position: center;
  background-size: cover;
  width:100vw;
  height: 80px;
  color: white;

}

.container .header{
  width: 1280px;
  height: 80px;
  margin:0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .header h1 a{
  text-decoration: none;
  color: white;
}

.container .nav ul li{
  display: inline-block;
  margin: 0 10px;
}


.container .nav ul li a{
  text-decoration: none;
  color: white;
}
.container .nav ul li:nth-child(2) a{color: aqua;}
.container .nav ul li a:hover{
  color: aqua;
}

/* main_text0 */

.main_text0{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  position: fixed;
  background-color: #dadada;
  flex-direction: column;
  padding: 0 15px 0 15px;
}
.container-result{
  margin-top: -200px;
}
button{
  height: 45px;
  width: 100px;
  border:none;
  border-radius: 30px;
  font-size: 15px;
  outline: none;
  background: #5c5c5c;
  color: #fff;
  cursor: pointer;
  margin-top: 30px;
}

button:hover{
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2)
}
